<html>
    
    <head>
        <meta charset="utf-8">
        <title>xin chao ban da den voi toi</title>
        <script src="jquery.js"></script>

        <script src="/socket.io/socket.io.js"></script>

        <script src="xuly.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css"/>
    
    
    </head>
    
    <body>

        <div id="main">
            <div id="inputForm"> <!-- //trang login -->
                <!-- name: <input type="text" id="pname"/> -->
                <input type="button" value= "bật" id= "bat">
                <input type="button" value= "tăt" id= "tat">
            </div>
            <div id="outputForm"> 
                <div id="left">
                    <div id="boxtitle">trang thai:  <div id="table">
                            <table>
                                <caption id="batled">bật</caption>
                                <caption id= "tatled">tắt</caption>
                            </table>
                         </div>
                    </div>
                </div>
                <div id="right">
                   <!--  <div id="listmessenges">
                    </div> -->
                    
                </div>
            </div>

        </div>
    </body>
</html>